
/* Your CSS Code here. */
 
#holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.box{
    height: 50px;
    width: 50px;
    background-color: green;
}
#one{
    background-color: red;
}
#two{
    background-color: blue;
}